{% extends 'layout.html.twig' %}


{% block content %}
    <div id="page-content-wrapper">
            <div class="card about elegant-color-dark">
                <div class="card-body about">
                    <h4 class="text-center">Aurélie Gronfier<small> photographe</small></h4>
                    <!-- section line separator  -->
                    <div class="section" style="border: 1px solid grey;"></div>
                    <!-- section line separator  -->

                    <div id="content-about">
                    <p>
                        <img id="img-about" class= ""src="{{ asset('build/images/photograph.jpg') }}" alt="Photographer">


                        <span class="ml-4">Lorem</span> Ipsum "Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit..."
                            "Il n’y a personne qui n’aime la souffrance pour elle-même, qui ne la recherche et qui ne la veuille pour elle-même…"
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut pretium mauris quis libero euismod commodo eget eu turpis. Sed cursus pharetra mollis. Mauris interdum eleifend diam, vitae sodales magna dignissim ut. Donec semper nulla sit amet tellus lacinia posuere. Mauris eget lacinia lacus. Nulla mattis porta mi nec placerat. Praesent posuere augue vel libero congue viverra. Fusce pretium orci sit amet venenatis venenatis. Etiam id eros condimentum, mattis velit sit amet, ultricies quam. Duis consectetur ullamcorper convallis. In hac habitasse platea dictumst. Nunc vitae enim eros. Etiam eu viverra orci. Maecenas efficitur placerat turpis nec fringilla.
                        Praesent purus lacus, fermentum quis ipsum et, venenatis ultricies lacus. Quisque vestibulum mi ac mi tempor, ac porttitor felis ultrices. Duis nec lacus nisl. Aliquam volutpat aliquam nisi, at posuere nisl sagittis accumsan. Maecenas tempus elit eu faucibus finibus. Curabitur vitae risus maximus, dignissim mi ac, condimentum mi. Morbi vestibulum turpis felis, non viverra neque auctor scelerisque.
                        Quisque ac neque pharetra, feugiat erat ut, varius purus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Vivamus commodo sed felis a dictum. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer maximus consequat orci vel maximus. Cras lorem massa, tincidunt sit amet ipsum quis, luctus rutrum enim. Pellentesque fermentum sit amet magna quis accumsan. In quis lorem in justo aliquet condimentum. Morbi quis pretium odio. Cras id faucibus orci. Sed non pulvinar justo. Maecenas posuere tortor diam, ut dapibus leo fermentum efficitur. Praesent molestie hendrerit nunc, vitae iaculis purus tempus vitae.
                    </p>
                    <p>
                        <span class="ml-4">Vivamus</span> porta nisi eget vehicula aliquet. Cras quis eros ante. Nunc porta leo in mi tempus consequat sit amet et eros. Donec suscipit velit a mi aliquam, at elementum nunc condimentum. Fusce et dignissim dui. Nulla posuere erat lacus, nec semper dolor sollicitudin at. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aenean id iaculis dui, eget ultricies quam. Etiam mi metus, sollicitudin at congue pharetra, ornare non metus. Curabitur et orci ut sem elementum tristique. Proin ultricies id eros a sagittis.
                        Quisque pulvinar sagittis tincidunt. Cras auctor efficitur massa at pharetra. Quisque tincidunt dui nulla, ac pharetra risus laoreet nec. Donec fermentum eget erat et hendrerit. Suspendisse potenti. Praesent rutrum odio vitae blandit porttitor. Fusce laoreet porttitor metus, et dictum metus ullamcorper ullamcorper. Integer quis enim at justo mattis fringilla in et nisi.
                    </p>
                    </div>



        </div>
        </div>







      
      
      
      

       





{% endblock %}