{% extends 'layout.html.twig' %}
{% form_theme form 'form/mdForm.html.twig' %}


{% block header %}
{% endblock header %}


{% block content %}
{% trans_default_domain 'FOSUserBundle' %}

    <div class="card user-form" >
        <h5 class="card-header elegant-color-dark white-text text-center py-4">
            <strong>Modifier mes informations</strong>
        </h5>

        <div class="card-body px-lg-5 pt-0 elegant-color-dark">

        {{ form_start(form, { 'action': path('fos_user_profile_edit'), 'attr': { 'class': 'fos_user_profile_edit' } }) }}

        {{ form_widget(form) }}
        <div>
            <button class="btn btn-outline btn-rounded waves-effect _submit" type="submit">{{ 'profile.edit.submit'|trans }}</button>
        </div>
        {{ form_end(form) }}

        </div>

    </div>

{% endblock content %}

{% block footer %}
{% endblock footer %}
